<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header-item-list">
            <li class="main-header__item"><a class="<%= path === '/'? 'active':''%>" href="/">หน้าหลัก</a></li>
            <li class="main-header__item"><a class="<%= path === '/admin/frmAddSubject'? 'active':''%>" href="/admin/frmAddSubject">เพิ่มวิชา</a></li>
        </ul>
    </nav>
</header>

